In [1]:
3+3

6

# Header
some text
* bullet points
* and such

In [2]:
%load_ext sql

In [3]:
%sql sqlite://

'Connected: None@None'

In [4]:
%sql CREATE TABLE students(student_id int);

Done.

[]

In [7]:
%sql INSERT INTO students VALUES(3);

1 rows affected.

[]

In [9]:
%sql INSERT INTO students VALUES(5);

1 rows affected.

[]

In [10]:
%sql SELECT * FROM students;

Done.

[(3,), (5,)]

In [13]:
%%sql 

SELECT * 
FROM students;

Done.

[(3,), (5,)]